build
Log/*.png
Log/*.txt
Log/*.csv
Log/*.pdf
.vscode/c_cpp_properties.json
.vscode/settings.json
PCD/*.pcd
/FAST_LIO/cmake-build-debug/
/FAST_LIO/.idea/
/FAST_LIO/.vscode/
FAST_LIO/Log/imu.txt
FAST_LIO/Log/dbg.txt
FAST_LIO/Log/mat_out.txt
FAST_LIO/Log/mat_pre.txt
FAST_LIO/Log/pos_log.txt
/FAST_LIO/traj/trajectory.txt
/FAST_LIO/PCD/result.pcd
/.vscode/
/include/
